

  .faqh1id {
      text-align: center;
      width: 100%;
      height: 15%;
      animation: pulse 3s infinite;
  }

.faq {
    width: 100%;
    height: 100%;
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #3c2b52;
    }
    100% {
      background-color: #22022c;
    }
  }

 
 .faq ul{
	padding-left: 0;
}
.faq ul li.question{
    
	padding:15px 10px 15px 20px;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;

}
.faq ul li.question:nth-child(even) {
	background: #22022c;
}
.faq ul li.question:nth-child(odd) {
	background: #3c2b52;
}
.faq ul li.question ul{
	padding-left: 40px;
}
.faq ul li.question ul li.answer{
	display:none;
	cursor: default;
}
.faq ul li.question li.answer p{
	line-height: 1.6em;
	font-family: 'Roboto', sans-serif;
}
















/* 


 .faq ul{
	padding-left: 0;
}
.faq ul li.question{
	padding:15px 10px 15px 20px;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
}
.faq ul li.question:nth-child(even) {
	background: #22022c;
}
.faq ul li.question:nth-child(odd) {
	background: #3c2b52;
}
.faq ul li.question ul{
	padding-left: 40px;
}
.faq ul li.question ul li.answer{
	display:none;
	cursor: default;
}
.faq ul li.question li.answer p{
	line-height: 1.6em;
	font-family: 'Roboto', sans-serif;
}


  */
